c24-fixml-models/xsd/compass.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns="http://compass.fopp.ib.jpmc.com/xml" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" 
            targetNamespace="http://compass.fopp.ib.jpmc.com/xml">

    <!-- Base types -->
    <xsd:simpleType name="Side">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BUY" />
            <xsd:enumeration value="SELL" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Price">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="8" />
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Fill definitions -->

    <xsd:simpleType name="FillState" >
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="MATCHED" />
            <xsd:enumeration value="CLEARED" />
            <xsd:enumeration value="ALLOCATED" />
            <xsd:enumeration value="CANCELLED" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="FillBase">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="clearingHouseId" type="xsd:string"/>
        <xsd:attribute name="parentId" type="xsd:string"/>
        <xsd:attribute name="quantity" type="xsd:integer"/>
        <xsd:attribute name="price" type="Price" />
        <xsd:attribute name="side" type="Side" />
        <xsd:attribute name="transactionTime" type="xsd:dateTime" />
        <xsd:attribute name="state" type="FillState"/>
        <xsd:attribute name="executingBroker" type="xsd:string"/>
        <xsd:attribute name="clearingBroker" type="xsd:string"/>
        <xsd:attribute name="account" type="xsd:string"/>
        <xsd:attribute name="exchangeTradeId" type="xsd:string"/>
        <xsd:attribute name="exchangeOrderId" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="fill" type="Fill" />

    <!-- strongly typed derivations of fill representing events in compass -->
    <xsd:complexType name="Fill">
        <xsd:complexContent>
            <xsd:extension base="FillBase"/>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="CreateExecution">
        <xsd:complexContent>
            <xsd:extension base="FillBase"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="createExecution" type="CreateExecution"/>

    <!-- Allocation definitions -->
    <xsd:simpleType name="AllocationState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="MATCHED" />
            <xsd:enumeration value="ALLOCATED" />
            <xsd:enumeration value="PENDING" />
            <xsd:enumeration value="COMPLETE" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AllocationBase">
        <xsd:sequence>
             <xsd:element name="execution" type="Execution" maxOccurs="unbounded" minOccurs="0"  />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="aggregateId" type="xsd:string" />
        <xsd:attribute name="allocatedQuantity" type="xsd:integer" />
        <xsd:attribute name="price" type="Price" />
        <xsd:attribute name="state" type="AllocationState"/>
        <xsd:attribute name="executingBroker" type="xsd:string"/>
        <xsd:attribute name="clearingBroker" type="xsd:string"/>
        <xsd:attribute name="account" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="Allocation" >
        <xsd:complexContent>
            <xsd:extension base="AllocationBase"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="allocation" type="Allocation"/>

    <xsd:complexType name="ClientAggregate">
        <xsd:sequence>
             <xsd:element name="allocation" type="Allocation" maxOccurs="unbounded" minOccurs="0"  />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="aggregateQuantity" type="xsd:integer" />
        <xsd:attribute name="state" type="AllocationState"/>
    </xsd:complexType>

    <xsd:element name="clientAggregate" type="ClientAggregate" />

    <!-- Execution definitions -->

    <xsd:complexType name="Order">
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="averagePrice" type="Price" />
    </xsd:complexType>

    <xsd:simpleType name="ExecutionState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="MATCHED" />
            <xsd:enumeration value="CLEARED" />
            <xsd:enumeration value="ALLOCATED" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ExecutionBase">
        <xsd:sequence>
            <xsd:element name="order" type="Order" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="price" type="Price" />
        <xsd:attribute name="quantity" type="xsd:integer"/>
        <xsd:attribute name="side" type="Side" />
        <xsd:attribute name="transactionTime" type="xsd:dateTime" />
        <xsd:attribute name="state" type="ExecutionState" />
        <xsd:attribute name="executingBroker" type="xsd:string"/>
        <xsd:attribute name="clearingBroker" type="xsd:string"/>
        <xsd:attribute name="account" type="xsd:string"/>
        <xsd:attribute name="exchangeTradeId" type="xsd:string"/>
        <xsd:attribute name="exchangeOrderId" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="Execution">
        <xsd:complexContent>
            <xsd:extension base="ExecutionBase"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="execution" type="Execution" />

    <xsd:complexType name="ClearingStatus">
        <xsd:complexContent>
            <xsd:extension base="ExecutionBase"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="clearingStatus" type="ClearingStatus"/>

    <xsd:complexType name="FillExecutionMatch">
        <xsd:sequence>
            <xsd:element name="fill" type="Fill" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="execution" type="Execution" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="timeStamp" type="xsd:dateTime" />
    </xsd:complexType>

    <xsd:element name="fillExecutionMatch" type="FillExecutionMatch"/>

    <xsd:simpleType name="AllocatedState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="PENDING" />
            <xsd:enumeration value="COMPLETE" />
            <xsd:enumeration value="REJECTED" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AllocationBreakdown">
        <xsd:sequence>
            <xsd:element name="allocation" type="Allocation"/>
        </xsd:sequence>
        <xsd:attribute name="allocatedQty" type="xsd:integer"/>
    </xsd:complexType>

    <xsd:complexType name="AllocatedQuantity">
        <xsd:complexContent>
            <xsd:extension base="AllocationBreakdown"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AllocatedExecution">
        <xsd:sequence>
            <xsd:element name="state" type="AllocatedState" />
            <xsd:element name="execution" type="Execution" />
            <xsd:sequence>
                 <xsd:element name="allocations" type="AllocatedQuantity" maxOccurs="unbounded" minOccurs="1"  />
            </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="allocatedExecution" type="AllocatedExecution"/>

    <xsd:complexType name="AllocatedFill">
        <xsd:sequence>
            <xsd:element name="state" type="AllocatedState" />
            <xsd:element name="fill" type="Fill" />
            <xsd:sequence>
                 <xsd:element name="allocations" type="AllocatedQuantity" maxOccurs="unbounded" minOccurs="1"  />
            </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="allocatedFill" type="AllocatedFill"/>

    <xsd:complexType name="AllocationExecutionMatch">
        <xsd:sequence>
            <xsd:element name="execution" type="xsd:string" maxOccurs="unbounded" minOccurs="1"  />
        </xsd:sequence>
        <xsd:attribute name="allocationId" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="ClearingHouseRequest">
        <xsd:sequence>
            <xsd:element name="state" type="AllocatedState" />
            <xsd:element name="fill" type="Fill" />
            <xsd:element name="allocationActions" type="AllocationAction" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="AllocationAction" abstract="true">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="broker" type="xsd:string"/>
        <xsd:attribute name="quantity" type="xsd:integer"/>
        <xsd:attribute name="account" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="Claim">
        <xsd:complexContent>
            <xsd:extension base="AllocationAction">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="GiveUp">
        <xsd:complexContent>
            <xsd:extension base="AllocationAction">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TakeUp">
        <xsd:complexContent>
            <xsd:extension base="AllocationAction">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="clearingHouseRequest" type="ClearingHouseRequest"/>

    <!-- SLA tracking -->
    <xsd:simpleType name="BreachState">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RAISED" />
            <xsd:enumeration value="CLEARED" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="BaseSLABreach">
        <xsd:sequence>
            <xsd:element name="eventRaised" type="xsd:long"/>
            <xsd:element name="state" type="BreachState"/>
            <xsd:element name="breachId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClaimFromExchangeBreach">
        <xsd:complexContent>
            <xsd:extension base="BaseSLABreach">
                <xsd:sequence>
                    <xsd:element name="claim" type="ClearingHouseRequest"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="claimFromExchangeBreach" type="ClaimFromExchangeBreach"/>

    <xsd:complexType name="UnmatchedFillBreach">
        <xsd:complexContent>
            <xsd:extension base="BaseSLABreach">
                <xsd:sequence>
                    <xsd:element name="fill" type="Fill"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="unmatchedFillBreach" type="UnmatchedFillBreach"/>

    <xsd:complexType name="UnmatchedExecutionBreach">
        <xsd:complexContent>
            <xsd:extension base="BaseSLABreach">
                <xsd:sequence>
                    <xsd:element name="execution" type="Execution"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="unmatchedExecutionBreach" type="UnmatchedExecutionBreach"/>

    <xsd:complexType name="ClearBreach">
        <xsd:complexContent>
            <xsd:extension base="BaseSLABreach">
                <xsd:choice>
                    <xsd:element name="unmatchedExecution" type="UnmatchedExecutionBreach"/>
                    <xsd:element name="unmatchedFill" type="UnmatchedFillBreach"/>
                    <xsd:element name="claimFromExchange" type="ClaimFromExchangeBreach"/>
                </xsd:choice>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="RiskCheckResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="giveIn" type="Fill" />
            </xsd:sequence>
            <xsd:attribute name="result" type="RiskCheckResult"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="RiskCheckRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="giveIn" type="Fill" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

   <xsd:simpleType name="RiskCheckResult">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PASSED" />
            <xsd:enumeration value="FAILED" />
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
